doctype html
html
  head
    title Arrie Dance Academy
    block scripts
    block style

  body
    nav#navbar
        ul
            section#logo1
            img(src="/static/logo1.png",id="logo1", alt="")
            li #[a(href='/') Home ]
            li #[a(href='/') About]
            li #[a(href='/contact') Contact]
            li #[a(href='/') Services]
            li #[a(href='/') Class Info]  
            
    block content
    footer#footer.container
      div Copyright © 2020 ArrieDanceAcademy.com | All rights reserved   