extends base.pug

block scripts
block style 
    style
        include ../static/style.css
    style
        include ../static/style-contact.css
block content        
    h1 This is Contact

    div.container
        div.tags
            div Name:
            div Phone Number:
            div Email:
            div Address:
        div.form
            form(action="/contact", method = "post", class= "form")
                input.input(type="text", name="name", placeholder="name") 
                input.input(type="number", name="phone", placeholder="phone number")   
                input.input(type="email", name="email", placeholder="email")   
                textarea.input(type="text", name="address", placeholder="address")
                button.btn Submit